@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #0d1015;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Bona Nova SC", serif;
}

.hero-section {
  position: relative;
  width: fit-content;
}

.hero-section img {
  display: block;
}

.hero-section .logo-img {
  position: absolute;
  top: 0px; /* Adjust this to position the logo higher or lower */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Ensures the logo stays above the hero image */
}

.hero-section .hero-img {
  z-index: 1; /* This keeps the hero image behind the logo */
}

.footer{
  margin-top: auto;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

.pg-links {
  display: flex;
  justify-content: center; /* Centers links horizontally */
  gap: 20px; /* Space between the links */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Link styles */
.pg-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.pg-links li a:hover {
  text-decoration: underline; /* Adds underline on hover */
}

/* ICONS */
/* Positioning the icon containers absolutely */
.icons-left, .icons-right {
  position: absolute;           /* Allow for precise positioning */
  display: flex;               /* Use flexbox for layout */
  gap: 1.8rem;                   /* Space between icons */
  flex-direction: column;      /* Stack icons vertically */
  z-index: 20;                 /* Ensure icons are above other content */
}

/* Positioning for left icons */
.icons-left {
  bottom: 100px;                /* Position from the bottom */
  left: 25px;                  /* Position from the left */
}

/* Positioning for right icons */
.icons-right {
  bottom: 15px;                /* Position from the bottom */
  right: 25px;                 /* Position from the right */
}

/* Individual icon styles */
.social-icons {
  width: 1.7rem;
  height: 1.7rem;             /* Size of the icons */
  color: #ffffff;              /* Icon color (Spotify green) */
  cursor: pointer;             /* Change cursor on hover */
  transition: transform 0.2s ease; /* Animation for hover effect */
}

/* Hover effect */
.social-icons:hover {
  transform: scale(1.2);       /* Slightly enlarge the icon on hover */
}
